body {
    font-family: Arial, sans-serif;
    min-width: 450px;
    padding: 10px;

}

#inputValues {
    min-height: 100px;
}

.col, .col-1, .col-7, .col-8, .col-4 {
    padding: 0px;
}

.pan_card, .na {
    color: #e41612;
    font-weight: bold;
}

.alloted {
    color: white;
    font-weight: bold;
}

.not-alloted {
    color: #4CAF50;
    font-weight: bold;
}