body {
    font-family: Arial, sans-serif;
    min-width: 450px;
    padding: 10px;

}

#inputValues {
    min-height: 100px;
}

.col, .col-1, .col-7, .col-8, .col-4 {
    padding: 0px;
}

.pan_card {
    color: #e41612;
}

.name_css {
    color: #4CAF50;
    font-weight: bold;
}

.qty_css {
    color: #4CAF50;
    font-weight: bold;
}

.na {
    color: #f44336;
    font-weight: bold;
}